@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dde1e7;
}

.title{
    font-family: 'Inter', sans-serif;
}

#container{
    margin: 0 auto;
    text-align: center;
}

h1{
    margin-top: 30px !important;
    font-family: 'Playfair Display', serif;

}

.button{
    width: 300px;
    height: 50px;
}

.fields{
    margin: 0 auto;
    margin-top: 30px !important;
    text-align: center !important;
    margin-left: 130px !important;
}


.add{
    width: 100px !important;
    height: 38px !important;
    margin-right: 200px !important;
}

.budgetCard{
    margin: 0 auto !important;
    width: 600px !important;
}

.description{
    color: black;
}

.amount{
    color: black;
}

.totalincome{
    margin-left: 410px !important;
    background-color: #1aa6b7 !important;
}

.totalexpense{
    background-color: #d7385e !important;
}

i:hover{
    color: #d7385e;
}